<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.esporte">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".volley.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="Main Page" />
        <activity
            android:name=".LoginActivity"
            android:label="Login Page">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:label="Login Page" />
        <activity
            android:name=".PlayMatchActivity"
            android:label="Play Match Page" />
        <activity
            android:name=".MatchTypeActivity"
            android:label="Select Match" />
        <activity
            android:name=".ScoreCardActivity"
            android:label="Score Card">

        </activity>
        <activity android:name=".MatchResultActivity"
            android:label="Result"></activity>
    </application>

</manifest>
